table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin : 0;
}
th {
      padding: 10px;
    margin : 0;
     border: 1px solid black;
     text-align: center;
}
td {
       padding: 10px;
    margin : 0;
     border: 1px solid black;
     text-align: right;
}
.blue {
    background-color: #e5f6f6;
}

caption {
    caption-side: bottom;
    text-align: right;
}