body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
h1 {
    font-size: 4rem;
}

@media screen and (min-width: 760px) and 
(max-width : 1023px) {
body {background-color: #0f0;}
h1 {font-size : 3rem}
}

@import url('mobile.css') only screen and
(max-width:767px);